{% extends "layoutfp.html" %}

{% block title %}
    : About
{% endblock %}

{% block body %}

<style>
    h2 {
        text-align: center;
    }
</style>

    <h2>About - Why this Webpage was Made</h2>
    <br>

    <font size="+2">
        This webpage was created in 2020 and was designed to help improve transparency of compensation for all Canadian workers.
        Hopefully, this website will help you understand the Canadian job market more, bring more information to you when you decide
        between possible career paths, and help you with job offer negotiations.
    </font>
    <br>
    <br>
    <font size="+2">
        This webpage will be continuously improved upon and you can expect more functionality to come. With more valid submissions and
        data points, my hope is that this website will grow to become more and more valuable to the Canadian working class.
    </font>
    <br>
    <br>
    <br>

    <img src="/static/canada_pic.jpg" alt="maplesyruppic" alt="canada_pic" class="center">
{% endblock %}
