{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Shares</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <!-- jinja2 code -->
        {% for holding in holdings %}
        <tr>
          <td>{{holding["symbol"]}}</td>
          <td>{{holding["name"]}}</td>
          <td>{{holding["shares"]}}</td>
          <td>{{holding["price"]}}</td>
          <td>{{holding["total"]}}</td>
        </tr>
        {% endfor %}
      <thead>
        <tr>
          <td> CASH </td>
          <!-- skip 3 rows -->
          <td colspan="3"></td>
          <td>{{cash}}</td>
        </tr>
      </thead>
      <thead>
        <tr>
          <td colspan="4"></td>
          <td><b>{{grand_total}}</b></td>
        </tr>
      </thead>
      </tbody>
    </table>
{% endblock %}
