{% extends "layout.html" %}

<!-- BUILD THE INDEX TABLE FIRST, THEN ALLOW VARIABLES TO COME THROUGH VIA PYTHON LOOP -->
{% block title %}
    Index
{% endblock %}

{% block main %}
    <table>
      <thead>
        <tr>
          <th>Symbol</th>
          <th>Name</th>
          <th>Shares</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <!-- jinja2 code -->
        {% for stock in stocks %}
        <tr>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.name }}</td>
          <td>{{ stock.shares }}</td>
          <td>{{ stock.price }}</td>
          <td>{{ stock.total }}</td>
        </tr>
        {% endfor %}
      <thead>
        <tr>
          <td>CASH</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> {{ cash_avail }} </td>
        </tr>
      </thead>
      <thead>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> {{ grand_total }} </td>
        </tr>
      </thead>
      </tbody>
    </table>
{% endblock %}
